@model Test_Bus.Models.Link

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Link</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LongUrl" class="control-label"></label>
                <input asp-for="LongUrl" class="form-control" />
                <span asp-validation-for="LongUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ShortUrl" class="form-control" hidden />
            </div>
            <div class="form-group">
                <input asp-for="DateCreate" class="form-control" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <p>Short Url</p>
        <input type="text" readonly class="form-control" value=@Model.ShortUrl />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
